    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    body {
        background-color: #435165;
        margin: 0;
    }
    .login, .register {
        width: 400px;
        background-color: #ffffff;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
        margin: 100px auto;
    }
    .login h1, .register h1 {
        text-align: center;
        color: #5b6574;
        font-size: 24px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dee0e4;
    }
    .login .links, .register .links {
        display: flex;
        padding: 0 15px;
    }
    .login .links a, .register .links a {
        color: #adb2ba;
        text-decoration: none;
        display: inline-flex;
        padding: 0 10px 10px 10px;
        font-weight: bold;
    }
    .login .links a:hover, .register .links a:hover {
        color: #9da3ac;
    }
    .login .links a.active, .register .links a.active {
        border-bottom: 3px solid #3274d6;
        color: #3274d6;
    }
    .login form, .register form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    .login form label, .register form label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #3274d6;
        color: #ffffff;
    }
    .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
        width: 310px;
        height: 50px;
        border: 1px solid #dee0e4;
        margin-bottom: 20px;
        padding: 0 15px;
    }
    .login form input[type="submit"], .register form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        background-color: #3274d6;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
        transition: background-color 0.2s;
    }
    .login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
        background-color: #2868c7;
        transition: background-color 0.2s;
    }
    .navtop {
        background-color: #341a2e;
        height: 60px;
        width: 100%;
        border: 0;
    }
    .navtop div {
        display: flex;
        margin: 0 auto;
        width: 1000px;
        height: 100%;
    }
    .navtop div h1, .navtop div a {
        display: inline-flex;
        align-items: center;
    }
    .navtop div h1 {
        flex: 1;
        font-size: 24px;
        padding: 0;
    margin: 0;
        color: #eaebed;
        font-weight: normal;
    }
    .navtop div a {
        padding: 0 20px;
        text-decoration: none;
        color: #c1c4c8;
        font-weight: bold;
    }
    .navtop div a i {
        padding: 2px 8px 0 0;
    }
    .navtop div a:hover {
        color: #eaebed;
    }
    body.loggedin {
        background-color: #f3f4f7;
    }
    .content {
        width: 1000px;
        margin: 0 auto;
        background-color: #ffffff;
    }
    .content h2 {
        margin: 0;
        padding: 25px 0;
        font-size: 22px;
        border-bottom: 1px solid #e0e0e3;
        color: #4a536e;
    }
    .content > p, .content > div {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        margin: 25px 0;
        padding: 25px;
    background-color: #fff;
    }
    .content > p table td, .content > div table td {
    padding: 5px;
    }
    .content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
    }
    .content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
   
    .container{
      max-width: 700px;
      width: 100%;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
    .container .title{
      font-size: 25px;
      font-weight: 500;
      position: relative;
    }
    .container .title::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    .content form .user-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0;
    }
    form .user-details .input-box{
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);
    }
    form .input-box span.details{
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .user-details .input-box input{
      height: 45px;
      width: 90%;
      outline: none;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 15px;
      border: 1px solid #ccc;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
    }
    .user-details .input-box input:focus,
    .user-details .input-box input:valid{
      border-color: #532267;
    }
     form .gender-details .gender-title{
      font-size: 20px;
      font-weight: 500;
     }
     form .category{
       display: flex;
       width: 80%;
       margin: 14px 0 ;
       justify-content: space-between;
     }
     form .category label{
       display: flex;
       align-items: center;
       cursor: pointer;
     }
     form .category label .dot{
      height: 18px;
      width: 18px;
      border-radius: 50%;
      margin-right: 10px;
      background: #d9d9d9;
      border: 5px solid transparent;
      transition: all 0.3s ease;
    }
     #dot-1:checked ~ .category label .one,
     #dot-2:checked ~ .category label .two,
     #dot-3:checked ~ .category label .three{
       background: #9b59b6;
       border-color: #d9d9d9;
     }
     form input[type="radio"]{
       display: none;
     }
     form .button{
       height: 45px;
       margin: 35px 0
     }
     form .button input{
       height: 100%;
       width: 100%;
       border-radius: 5px;
       border: none;
       color: #fff;
       font-size: 18px;
       font-weight: 500;
       letter-spacing: 1px;
       cursor: pointer;
       transition: all 0.3s ease;
       background: linear-gradient(135deg, #01111c, #5e1f76);
     }
     form .button input:hover{
      /* transform: scale(0.99); */
      background: linear-gradient(-135deg, #01111c, #5e1f76);
      }
     @media(max-width: 584px){
     .container{
      max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
      }
      form .category{
        width: 100%;
      }
      .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
      }
      .user-details::-webkit-scrollbar{
        width: 5px;
      }
      }
      @media(max-width: 459px){
      .container .content .category{
        flex-direction: column;
      }
    }
    
    #criminal a:link, #criminal a:visited {
      background-color:  rgb(46, 3, 40);
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }

  #criminal a:hover,#criminal a:active {
      background-color: rgb(126, 26, 118);
  }
    
    