{% extends 'layout.html' %}

{% block title %}Add Criminal{% endblock %}

{% block content %}
    <!---<title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="style.css">--->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">   

   </head>
<body>
    
  <div class="container">
    <div class="title">Add Criminal</div>
    
    <div class="content">
      <div class="msg"><h3><center><b><font color="red">{{ msg }}</font></b></center></h3></div>
      <form action="{{ url_for('plot') }}" method="post" autocomplete="off" >
        <input type="hidden" >detail
        <div class="button">
            <input type="submit" value="ShowDetails" ></div>
    </form></div></div></body>
{% endblock %}